@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  color:#000;
}
html {
  font-size: 0.625em;
}
body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.ir_pm {
  overflow: hidden;
  text-indent: -9999em;
  white-space: nowrap;
}
.screen_out {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

/* booking */
#canvas{
  position: absolute;
  top:0; left:0;
  width: 100%;
  height:100%;
}
.booking{
  position: fixed;
  top:0; left:0;
  width: 100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  z-index:11;
}
.booking_inner{
  background: #fff;
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 81.867%;
  border-radius: 10px;
}
.booking_inner_box{
  padding:26px 5% 0;
}
.select{
  border:1px solid #000;
  border-radius: 10px;
  margin:0 auto;
  padding:15px 0;
}
.option{
  width:100px;
  font-size: 1.2rem;
  margin:0 auto;
}
.option>button:first-child{
  padding-right:40%;
  color:#F15A22
}
.airport{ 
  margin:20px auto 0;
  padding-bottom:20px;
  border-bottom:1px solid #000;
}
.airport .from{
  float:left;
  width:33%;
  height:50px;
  font-size: 2rem;
  border:1px solid #000;
}
.airport .to{
  float:right;
  width:33%;
  height:50px;
  font-size: 2rem;
  border:1px solid #000;
}
.change{
  width:40px;
  height:40px;
  position: absolute;
  left:50%;
  transform: translate(-50%);
}
.change>img{
  width:100%;
  height:100%;
}
#date{
  margin-top:16px;
  font-weight: 500;
  text-align: center;
}
#date>label{
  font-size: 1.6rem;
  margin-right:8px;
  text-align: center;
}
.passenger{
  border:1px solid #000;
  border-radius: 10px;
  height:50px;
  line-height:50px;
  margin:27px 0;
}
.passenger_box{
  width:90%;
  margin:0 auto;
}
.passenger p{
  float:left;
  font-size: 1.6rem;
  font-weight: 500;
}
.passenger button{
  float:right;
  height:50px;
  font-size: 1.6rem;
  font-weight: 600;
}
.passenger button:after{
  content:"";
  display: inline-block;
  width:24px;
  height:24px;
  vertical-align: top;
  background: url(../img/passenger.png) no-repeat center/contain;
}
.btn_group{
  background: #000;
  border-radius: 0 0 10px 10px;
}
.btn_group_box{
  height:60px;
  margin:0 auto;
}
.closeBtn{
  float:left;
  font-size: 1.8rem;
  width:50%;
  height:100%;
  color:#fff;
  background: #F15A22;
  border-radius: 0 0 0 10px;
}
.detailBtn{
  float:right;
  font-size: 1.8rem;
  width:50%;
  height:100%;
  color:#fff;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #000;
  box-shadow: rgba(0,0,0,0.4) 0px 4px 6px;
  z-index: 10;
}
.navBtn {
  float: left;
  width: 40px;
  height: 25px;
  text-indent: -9999em;
  margin: 22px 0 0 9.067%; /* 34/375 */
  background: url(../img/navBtn.png) no-repeat center/contain;
}
.headerInner{
  height:70px;
}
h1 {
  position: absolute;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
  width: 106px;
  height: 18px;
}
h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/h1.png) no-repeat center/contain;
}
.myPage {
  float: right;
  width: 32px;
  height: 32px;
  margin: 22px 9.067% 0; /* 34/375 */
  text-indent: -9999em;
}
.myPage a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/mypage.png) no-repeat center/contain;
}
.main_nav {
  display: none;
  position: fixed;
  top:0; left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.7);
}
.main_nav.on{
  display: block;
}
.navInner{
  overflow: auto;
  position: absolute;
  top:0; left:-50%;
  width:73.333%; /* 275/375 */
  height:100%;
  padding:52px 12.364% 80px;
  background: #fff;
}
.close{
  width:29px;
  height:29px;
  text-indent: -9999em;
  margin-bottom: 23px;
  background: url(../img/close.png) no-repeat center/contain;
}
.navInner_logo{
  width:77.778%; /* 161/207 */
  height:70px;
  margin:0 auto 44px; /* 23/207 */
  background: url(../img/navInner_logo.png) no-repeat center/contain;
}
.search{
  width:86.473%; /* 179/207 */
  height:40px;
  border:2px solid #F15A22;
  border-radius: 11px;
  margin:0 auto 56px;
  text-indent: -9999em;
  background: url(../img/search.png) no-repeat 6px/contain;
}
.navInner .gnb{
  margin:0 auto;
  border-top:2px solid #F15A22
}
/* 상위메뉴 */
.navInner .gnb>li>a{
  display: block;
  height:66px;
  line-height:66px;
  font-size: 2.2rem;
  font-weight: 500;
  padding-left:6.763%; /* 14/207 */
  border-bottom: 1px solid #F15A22;
}
.navInner .gnb>li:hover>a{
  color:#F15A22;
}
.navInner .gnb>li:first-child ~ li{
  border-top: 2px solid #F15A22;
}
/* 하위메뉴 */
.gnb_sub>li>a{
  position: relative;
  display: block;
  height:50px;
  line-height:50px;
  font-size: 1.8rem;
  font-weight: 500;
  padding-left:6.763%; /* 14/207 */
}
.gnb_sub>li{
  border-bottom: 1px solid #cfcfcf;
  border-top: 1px solid #cfcfcf;
}
.gnb_sub>li:first-child{
  border-top:none;
}
.gnb_sub>li:last-child{
  border-bottom:none;
}
.gnb_sub>li>a{
  border-top:none;
}
.gnb_sub>li:hover>a{
  color:#F15A22;
}
.gnb_sub>li>a:after{
  display: block;
  content: " ";
  width:20px;
  height:12px;
  position: absolute;
  top:50%;
  right:6.763%;
  transform: translateY(-50%);
  background: url(../img/arrow_down.png) no-repeat center/contain;
}

/* 하위메뉴-세부메뉴 */
.gnb_sub ul li{
  display: none;
  height:46px;
  line-height:46px;
  font-size: 1.6rem;
  border-bottom: 1px solid #cfcfcf;
  padding-left:6.763%; /* 14/207 */
}
.gnb_sub ul li:hover{
  color:#F15A22;
}
.gnb_sub li.open{
  display: block;
}
.sns{
  width:146px;
  margin:36px auto;
}
.sns li a{
  display: block;
  width:32px;
  height:32px;
  float:left;
  margin-right:25px;
  text-indent: -9999em;
  background: url(../img/facebook.png) no-repeat center/contain;
}
.sns li:nth-of-type(2)>a{
  background-image: url(../img/instagram.png);
}
.sns li:nth-of-type(3)>a{
  background-image: url(../img/youtube.png);
  margin-right:0;
}

/* visual 동영상 */
.visual{
  margin-top: 70px;
  position: relative;
  padding-bottom: 56.25%;
}
.visual_mov{
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  border:none;
}

/* main */
/* brand */
.brand_content li{
  display: none;
  color:#fff;
  text-shadow: rgba(0,0,0,0.5) 0 3px 3px;
  padding:135px 9.067%;
  background: url(../img/No.1.jpg) no-repeat 55%/cover;
}
.brand_content li.active{
  display: block;
}
.brand_content li:nth-child(2){
  background-color: #000;
  background-image: none;
  padding:0;
  position: relative;
  height:300px;
  width:100%;
  text-shadow: none;
  color:#fff;
}
.ready{
  position: absolute;
  width:300px; height:300px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.safe strong{
  display: block;
  text-align: center;
  padding-top:150px;
  text-shadow: rgba(255,255,255,0.5) 2px 2px;
}
.brand_content li:nth-child(3){
  background-image: url(../img/esg.jpg);
  background-position: 30%;
}
.brand_content strong{
  font-size: 2rem;
  font-weight: 500;
}
.brand_content p{
  font-size: 1.6rem;
  font-weight: 500;
  line-height:1.5; /* 24/16 */
  margin-top:13px;
}
.brand_content span{
  display: block;
}
.brand_nav{
  width:81.867%; /* 307/375 */
  height:50px;
  line-height: 50px;
  margin:0 auto;
}
.brand_nav li{
  float:left;
  width:33.225%;
  background: #F5F5F0;
  box-shadow: rgba(109,109,109,0.3) 0px 3px 3px;
  transition: .3s all ease;
}
.brand_nav li a{
  display: block;
  text-align: center;
  height:100%;
  font-size:1.6rem;
  font-weight: 500;
}
.brand_nav li.on{
  background: #F15A22;
  color:#fff;
}

/* hot */
.hot{
  margin-top:120px;
}
.hot_box{
  position: relative;
  height:405px;
  background: url(../img/hot_bg.jpg) no-repeat 60%/cover;
}
.hot_txt{
  text-align: center;
  padding-top:149px;
  text-shadow: rgba(0,0,0,0.5) 0px 2px 2px;
}
.hot_txt h2{
  font-size: 3.3rem;
  color:#fff;
  font-weight: 500;
}
.hot_txt p{
  margin-top: 16px;
  font-size: 2.1rem;
  color:#fff;
  font-weight: 400;
}
.hot_banner{
  width:242px;
  height:100%;
  text-align: center;
  margin:43px auto 0;
}
.hot_banner div{
  width:100%;
  height:100%;
}
.hot_banner div img{
  width:100%;
}
.hot_banner div p:nth-of-type(1){
  font-size: 2rem;
  font-weight: 500;
  margin:28px 0 7px;
}
.hot_banner div p:nth-of-type(2){
  font-size: 1.6rem;
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus{
  width: 50px;
  height: 50px;
  left:-18%; top:32%;
  background: url(../img/arrow_left.png) no-repeat center/contain;
}
.slick-next,
.slick-next:hover,
.slick-next:focus{
  width: 50px;
  height: 50px;
  left:98%; top:32%;
  background: url(../img/arrow_right.png) no-repeat center/contain;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
  opacity: 0;
}
.slick-prev:before,
.slick-next:before{
  opacity: 0;
}

/* event */
.event{
 margin-top:307px;
}
.event>div{
  background: url(../img/flight_ticket.jpg) no-repeat center/cover;
}
.event .ongoing{
  background-image: url(../img/ongoing_event.jpg);
}
.ticket_txt,
.ongoing_txt{
  background: rgba(0,0,0,0.4);
  padding:84px 9.067% 87px;
  transition: all 1s ease 0s;
}
.ticket.on .ticket_txt,
.ongoing.on .ongoing_txt{
  background: rgba(0,0,0,0.7);
}
.event strong{
  font-size: 3.4rem;
  color:#fff;
  font-weight: 500;
}
.event p{
  font-size: 2.6rem;
  color:#fff;
  font-weight: 500;
  line-height:1.265;
}
.event p:nth-of-type(1){
  font-weight: 400;
  margin:41px 0 22px;
}
.event span{
  display: block;
}
.event a{
  position: relative;
  display: block;
  width:147px;
  height:45px;
  border-radius: 30px;
  border:2px solid #F58220;
  background: #fff;
  font-size: 1.9rem;
  font-weight: 500;
  padding-left:30px;
  line-height: 45px;
  margin-top:18px;
}
.event a:after{
  display: inline-block;
  content:" ";
  width:24px;
  height:24px;
  vertical-align: middle;
  margin:0px 3px 3px;
  background: url(../img/check_arrow.png) no-repeat center/contain;
}

/* check */
.check{
  margin-top:80px;
}
.airIcon{
  position: relative;
  top:30px;
  height:56px;
  background: url(../img/air_icon.png) no-repeat center/contain;
  animation: fly 10s linear infinite running;
}
@keyframes fly{
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 2000px 0px;
  }
}
.check_box{
  background: url(../img/check_bg.jpg) no-repeat center/cover;
  text-align: center;
  color:#fff;
  padding:106px 0 62px;
}
.check_box>h2{
  font-size: 3.2rem;
  font-weight: 500;
  text-shadow: rgba(0,0,0,0.5) 0px 3px 3px;
}
.check_box>p{
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: 16px;
  text-shadow: rgba(0,0,0,0.5) 0px 3px 3px;
}
.check_nav li:first-child{
  margin-top:31px;
}
.check_nav li{
  width:81.867%;
  height:51px;
  margin:0 auto 13px;
  text-align: center;
  background: #fff;
  border-radius: 64px;
  color:#000;
  font-size: 2.6rem;
  line-height:51px;
  font-weight: 500;
  box-shadow: rgba(0,0,0,0.5) 0px 3px 3px;
  transition: .3s all ease;
}
.check_nav li a{
  display: block;
  width:100%;
}
.check_nav li:last-child{
  margin-bottom:43px;
}
.check_nav li.on{
  background: #F58220;
  color:#fff;
}
.check_content li{
  display: none;
  position: relative;
  width:81.867%;
  height:374px;
  margin:0 auto;
  border-radius: 100px 20px 20px 20px;
  text-align: left;
}
.check_content li.active{
  display: block;
}
.check_content li> div:first-child{
  position: absolute;
  top:0; left:0;
  width:100%;
  height:100%;
  border-radius: 100px 20px 20px 20px;
}
.check_content .seat_img{
  background: url(../img/check_seat.jpg) no-repeat center/cover;
 }
.check_content .food_img{
 background: url(../img/food.jpg) no-repeat center/cover;
}
.check_content .lagage_img{
  background-image: url(../img/lagage.png);
}
.check_content li> div:last-child{
  position: absolute;
  top:0;left:0;
  width:100%;
  padding:78px 0 62px 8.469%;
  background-color: rgb(0,0,0,0.45);
  border-radius: 100px 20px 20px 20px;
  border:1px solid #fff;
}
.check_content strong{
  font-size: 3rem;
  font-weight: 500;
}
.check_content p{
  margin-top:55px;
  font-size: 2.2rem;
  line-height: 1.364;
}
.check_content p:before{
  display: block;
  content:" ";
  width:42px;
  height:2px;
  margin-bottom:22px;
  background: #fff;
}
.check_content a{
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top:31px;
}
.check_content a:after{
  display: inline-block;
  content:"";
  width:36px;
  height:22px;
  vertical-align: top;
  margin-left:17px;
  background: url(../img/check_btn.png) no-repeat center/contain;
}

/* footer */
footer{
  margin-top:120px;
  background-color: #000;
}
.footerInner{
  padding-top:53px;
  color:#fff;
}
.footerInner .pc{
  display: none;
}
.footRight{
  padding:40px 0;
  font-size: 1.6rem;
  text-align: center;
  background: url(../img/footer_bg.jpg) no-repeat center/cover;
}
.foot_logo{
  height:27px;
  background: url(../img/h1.png) no-repeat center/contain;
}
.infor01{
  margin:48px 0 21px;
}
.infor01 span:first-child{
  display: inline-block;
  margin-bottom: 6px;
}
.infor01 span:first-child:after{
  content:"|";
  margin:0 13px;
}
.infor02{
  margin-bottom: 21px;
}
.infor02 span{
  display: block;
  margin-bottom: 6px;
  line-height: 1.5;
}
.copyMenu span{
  display: block;
}
.copyMenu a{
  line-height: 1.5;
}
.copyMenu a:after{
  display: inline-block;
  content:"|";
  margin: 0 12px;
}
.copyMenu a:last-child:after{
  content:none;
}
footer>small{
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  padding:14px 0;
  background: #000;
  color:#fff;
  border-top: 3px solid #F15A22;
}

/* 768 */
@media screen and (min-width:768px){
/* booking */
.booking_inner{
  width: 664px;
}
.booking_inner_box{
  padding:60px 60px 0;
}
.passenger{
  margin:40px 0;
}
/* header */
.navBtn{
  width:52px;
  height:32px;
  margin: 19px 0 0 6.771%;/* 52/768 */
}
h1{
  width:118px;
  height:22px;
}
.myPage{
  width:36px;
  height:36px;
  margin: 17px 6.771% 0 0;
}
.navInner{
  width:66.667%; /* 512/768 */
  padding:80px 10.156%; /* 52/512 */
}
.close{
  width:45px;
  height:45px;
  margin-bottom: 45px;
}
.navInner_logo{
  width:76.471%; /* 312/408 */
  height:136px;
  margin-bottom:75px;
}
.search{
  width:81.863%; /* 334/408 */
  height:56px;
  margin-bottom:75px;
}
/* 상위메뉴 */
.navInner .gnb>li>a{
  font-size: 2.6rem;
  padding-left:9.069%; /* 37/408 */
  height:70px;
  line-height: 70px;
}
/* 하위메뉴 */
.gnb_sub>li>a{
  font-size: 2rem;
  padding-left:9.069%;
  height:54px;
  line-height:54px;
}
.gnb_sub>li>a:after{
  width:27px;
  height:16px;
  right:9.069%;
}
/* 하위메뉴-세부메뉴 */
.gnb_sub ul li{
  height:48px;
  line-height:48px;
  font-size: 1.8rem;
  padding-left:9.069%;
}
.sns{
  width:199px;
  margin:45px auto;
}
.sns li a{
  width:42px;
  height:42px;
  margin-right:35px;
}

/* main */
/* brand */
.brand_content li{
  padding:200px 6.771%;
}
.brand_content strong{
  font-size: 3.2rem;
  font-weight: 500;
}
.safe strong{
  font-size: 2rem;
}
.brand_content p{
  font-size: 2.2rem;
  font-weight: 500;
  margin-top:22px;
}
.brand_nav{
  width:86.459%; /*664/768*/
}
.brand_nav li:last-child{
  text-align: center;
}
.brand_nav li a{
  font-size: 2rem;
}
/* hot */
.hot_txt{
  padding-top:135px;
}
.hot_txt h2{
  font-size: 3.2rem;
  margin-bottom: 12px;
}
.hot_txt p{
  font-size: 2.2rem;
}
.hot_banner{
  width:556px;
}
.hot_banner div p:nth-of-type(1){
  font-size: 2.2rem;
  margin:31px 0 9px;
}
.hot_banner div p:nth-of-type(2){
  font-size: 1.7rem;
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus{
  width: 54px;
  height: 54px;
  left:-8.5%; top:35%;
}
.slick-next,
.slick-next:hover,
.slick-next:focus{
  width: 54px;
  height: 54px;
  left:99%; top:35%;
}

/* event */
.event{
  margin-top:327px;
 }
 .event>div{
  float:left;
  width:50%;
 }
 .ticket_txt,
 .ongoing_txt{
   padding-left:13.542%; /* 52/384 */
 }

/* check */
.airIcon{
  height:98px;
  top:45px;
}
.check_box{
  padding-bottom:71px;
}
.check_nav{
  width:86.458%;
  margin:42px auto 48px;
  background: #fff;
  border-radius: 50px;
}
.check_nav li:first-child{
  margin-top:0;
}
.check_nav li:last-child{
  margin-bottom:0;
}
.check_nav li{
  float:left;
  width:33.333%;
  height:62px;
  line-height: 62px;
  margin-bottom:0;
  background:none;
  border-radius: 0;
  box-shadow: none;
}
.check_nav li.on{
  background: #F58220;
  color:#fff;
  border-radius: 50px;
}
.check_content li{
  width:86.458%;
}
.check_content li>div:first-child{
  position: static;
  float: left;
  width:50%;
  border:1px solid #fff;
}
.check_content li>div:last-child{
  position: static;
  float: left;
  width:50%;
  padding:65px 0 4.518% 65px; 
  background-color: transparent;
  border-radius: 0;
  border:none;
}

/* footer */
.footerInner{
  padding-top:80px;
}
.footRight{
  font-size: 2rem;
}
.infor01{
  margin:48px 0 37px;
}
.infor01 span:first-child{
  margin-bottom: 12px;
}
.infor02{
  margin-bottom: 37px;
}
.infor02 span{
  display: inline-block;
  margin-bottom: 12px;
}
.copyMenu span{
  display: inline-block;
}
}

/* 1024 */
@media screen and (min-width:1024px){
/* header */
.main_nav{
  position: static;
  display: block;
  background: none;
}
.navInner{
  position: static;
  overflow: visible;
  width:100%;
  height:auto;
  padding:0;
  background: none;
}
.navBtn,
.close,
.navInner_logo{
  display: none;
}
.search{
  background: url(../img/search_pc.png) no-repeat center/contain;
  width:36px;
  height:36px;
  border: none;
  margin:17px 0.977% 0 0;
  float:right;
  cursor: pointer;
}
.navInner .gnb{
  border-top:none;
  padding-left:6.348%; /* 65/1024 */
}
/* 상위메뉴 */
.navInner .gnb>li>a{
  position: relative;
  float:left;
  padding-left:0;
  padding-right:4.102%; /* 42/1024 */
  font-size: 2rem;
  text-align: center;
  color:#fff;
  border-bottom: none;
}
.navInner .gnb>li:last-child>a{
  padding-right: 0;
}
.navInner .gnb>li:hover>a{
  color:#F58220;
}
.navInner .gnb>li:first-child ~ li{
  border-top: none;
}
/* 하위메뉴 */
.gnb_sub{
  display: none;
  position: absolute;
  top:70px; left:0;
  background: #000;
  width:100%;
  padding:60px 13.114%;  /* 164/1024 */
}
/* .gnb>li.on .gnb_sub{
  display: block;
} */
.gnb>li:hover .gnb_sub{
  display: block;
}
.gnb_sub>li>a{
  font-size: 2.2rem;
  padding-left: 0;
  height: auto;
  line-height: 1;
  margin-bottom:20px;
}
.gnb_sub>li>a:after{
  content:none;
 }
.gnb_sub>li:hover>a{
  color:#F58220;
}
.gnb_sub>li{
  float: left;
  border-bottom: none;
  border-top: none;
  border-right:1px solid #fff;
  color:#fff;
  text-align: center;
  margin-right:13.518%;
  padding-right: 13.518%;
}
.gnb_sub>li:last-child{
  margin-right: 0;
  padding-right: 0;
  border-right:0;
}
/* 하위메뉴-세부메뉴 */
.gnb_sub ul li{
  display: block;
  border-bottom: none;
  padding-left: 0;
  height:0;
  font-weight: 400;
  margin-bottom:35px;
}
.gnb_sub ul li:hover{
  color:#F58222;
}
.sns li a{
  display: none;
}

/* main */
/* brand */
.brand_content li{
  padding-left:6.348%; /* 65/1024 */
}
.brand_nav{
  width:87.304%;
  height:60px;
  line-height:60px;
}
.brand_nav li:first-child:before{
  margin:0 2.013% 0 25.839%;
}
.brand_nav li:nth-child(2):before{
  margin:0 2.013% 0 18.779%;
}
.brand_nav li a{
  font-size: 2.2rem;
}
/* hot */
.hot{
  margin-top:200px;
}
.hot_banner{
  width:800px;
  margin-top:50px;
  padding-left:10px;
}
.hot_banner div{
  margin-right:20px;
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus{
  width:65px;
  height:65px;
  left:-6%; top:34%;
}
.slick-next,
.slick-next:hover,
.slick-next:focus{
  width:65px;
  height:65px;
  left:97%; top:34%;
}

/* event */
.event{
  margin-top:426px;
}
.event>div:hover div{
  background: rgba(0,0,0,0.7);
}
/* check */
.check{
  margin-top:150px;
}
.check_nav{
  width:87.305%;
  margin:42px auto 48px;
  background: #fff;
  border-radius: 50px;
}
.airIcon{
  top:50px;
}
.check_box{
  padding-bottom:100px;
}
.check_box>h2{
  font-size: 3.4rem;
}
.check_box>p{
  font-size: 2.4rem;
  margin-top:20px;
}
.check_content li{
  width:87.305%;
}
.check_content strong{
  font-size: 3.4rem;
}
.check_content p{
  font-size: 2.4rem;
  line-height: 1.5;
}
.check_content a{
  font-size: 2.1rem;
}
.check_content a:after{
  margin-top:2px;
}

/* footer */
footer{
  margin-top:200px;
}
.footerInner{
  padding: 94px 6.348% 0;
}
.footerInner .pc{
  display: block;
  float:left;
  width:40.157%; /* 359/894 */
  height:347px;
  margin-right:4.376%;
}
.footerInner .footMov{
  width:100%;
  height:100%;
  border:none;
}
.footRight{
  float:left;
  width:55%;
  padding: 0;
  margin-bottom: 94px;
  background: none;
}
.footer>small{
  clear:both;
  padding:16px 0;
}
}

/* 1600 */
@media screen and (min-width:1600px) {
/* header */
header{
  height:90px;
}
.headerInner{
  width:1560px;
  height:90px;
  margin:0 auto;
}
.search{
  width:48px;
  height:48px;
  margin:22px 16px 0 0;
}
h1{
  width:160px;
  height:30px;
}
.myPage{
  width:48px;
  height:48px;
  margin:22px 0 0 0;
}
.navInner .gnb{
  padding-left:0
}
/* 상위메뉴 */
.navInner .gnb>li>a{
  padding-right:52px;
  font-size: 2.2rem;
  height:90px;
  line-height: 90px;
}
/* 하위메뉴 */
.gnb_sub{
  top:90px;
  background: #000;
  padding:60px 212px;  /* 164/1024 */
}
.gnb_sub>li{
  margin-right:87px;
  padding-right:87px;
}

/* main */
/* brand */
.brand_content li{
  padding:135px 0;
}
.brand_content li>div{
  width:1560px;
  margin:0 auto;
}
.brand_content strong{
  font-size: 3.8rem;
  font-weight: 500;
}
.safe strong{
  font-size: 2.2rem;
}
.brand_content p{
  font-size: 2.6rem;
  font-weight: 500;
  margin-top:22px;
}
.brand_nav{
  width:1300px;
  margin:0 auto;
}

/* hot */
.hot_box{
  position: relative;
  height:450px;
}
.hot_txt h2{
  font-size: 3.8rem;
  margin-bottom: 12px;
}
.hot_txt p{
  font-size: 2.6rem;
}
.hot_banner{
  width:1400px;
}
.hot_banner div{
  margin-right:20px;
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus{
  width:80px;
  height:80px;
  left:-60px; top:39%;
}
.slick-next,
.slick-next:hover,
.slick-next:focus{
  width:80px;
  height:80px;
  left:1373px; top:39%;
}

/* event */
.event strong{
  font-size: 3.8rem;
}

/* check */
.check{
  margin-top:150px;
}
.check_nav{
  width:1065px;
  margin:54px auto 77px;
}
.airIcon{
  top:50px;
}
.check_box{
  padding-bottom:100px;
}
.check_box>h2{
  font-size: 3.8rem;
}
.check_box>p{
  font-size: 2.6rem;
}
.check_content li{
  width:1341px;
}
.check_content li>div:first-child{
  width:680px;
  height:510px;
}
.check_content li>div:last-child{
  width:520px;
  padding:85px 0 86px 65px; 
}
.check_content strong{
  font-size: 3.8rem;
}
.check_content p{
  font-size: 2.6rem;
  margin-top:72px;
}
.check_content p:before{
  margin-bottom: 39px;
}
.check_content a{
  font-size: 2.4rem;
  margin-top:40px;
}

/* footer */
.footerInner{
  width:1500px;
  margin:0 auto;
  padding:76px 0 30px 0;
}
.footerInner .pc{
  width:680px;
  height:347px;
  margin-right:100px;
}
.footRight{
  width:702px;
  margin-bottom: 40px;
  font-size: 2.2rem;
}
}